<%-include("../../views/partials/user/header.ejs")%>
<main>
  <!-- slider-area start -->
  <section class="slider-area pos-relative">
    <div class="slider-active">
      <div
        class="single-slider slide-1-style slide-height-2 slide-height-4 d-flex align-items-center"
        data-background="img/slider/slide5.jpg"
      >
        <div class="shape-title shape-title-4 bounce-animate">
          <h2>2024</h2>
        </div>
        <div class="shape-icon shape-icon-4 bounce-animate">
          <img src="img/slider/shape-icon-2.png" alt="" />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="slide-content slide-content-4 text-center pt-40">
                <h1 data-animation="fadeInUp" data-delay=".3s">New Arrival</h1>
                <div class="slide-btn">
                  <a
                    class="btn theme-btn"
                    href="/shop"
                    data-animation="fadeInLeft"
                    data-delay=".6s"
                    >shop now</a
                  >
                  <a
                    class="btn white-btn"
                    href="/shop"
                    data-animation="fadeInRight"
                    data-delay=".9s"
                    >category</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="single-slider slide-1-style slide-height-2 slide-height-4 d-flex align-items-center"
        data-background="img/slider/slide5-2.jpg"
      >
        <div class="shape-title shape-title-4 bounce-animate">
          <h2>2025</h2>
        </div>
        <div class="shape-icon shape-icon-4 bounce-animate">
          <img src="img/slider/shape-icon-2.png" alt="" />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="slide-content slide-content-4 text-center pt-40">
                <h1 data-animation="fadeInUp" data-delay=".3s">
                  Trendy Collection
                </h1>
                <div class="slide-btn">
                  <a
                    class="btn theme-btn"
                    href="/shop"
                    data-animation="fadeInLeft"
                    data-delay=".6s"
                    >shop now</a
                  >
                  <a
                    class="btn white-btn"
                    href="/shop"
                    data-animation="fadeInRight"
                    data-delay=".9s"
                    >category</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="single-slider slide-1-style slide-height-2 slide-height-4 d-flex align-items-center"
        data-background="img/slider/slide5-3.jpg"
      >
        <div class="shape-title shape-title-4 bounce-animate">
          <h2>2024</h2>
        </div>
        <div class="shape-icon shape-icon-4 bounce-animate">
          <img src="img/slider/shape-icon-2.png" alt="" />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="slide-content slide-content-4 text-center pt-40">
                <h1 data-animation="fadeInUp" data-delay=".3s">
                  Men Collection
                </h1>
                <div class="slide-btn">
                  <a
                    class="btn theme-btn"
                    href="/shop"
                    data-animation="fadeInLeft"
                    data-delay=".6s"
                    >shop now</a
                  >
                  <a
                    class="btn white-btn"
                    href="/shop"
                    data-animation="fadeInRight"
                    data-delay=".9s"
                    >category</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- slider-area end -->

  <!-- banner area start -->
  <section class="banner-area pt-100 box-90">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="banner-2 pos-relative mb-30">
            <a href="/shop"
              ><img src="img/banner/banner-2/banner3.jpg" alt=""
            /></a>
            <div class="banner-trend">
              <span>Trendy Item</span>
              <h2><a href="/shop">New Year Trend Coming 2025</a></h2>
              <div class="discover-link">
                <a href="/shop">discover</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="banner-2 pos-relative mb-30">
            <a href="/shop"
              ><img src="img/banner/banner-2/banner4.jpg" alt=""
            /></a>
            <div class="banner-look">
              <span>Get the look</span>
              <h2>Festive Looks</h2>
             
              <p>Your delivery of outfit ideas, updated daily</p>
              <a href="/shop" class="btn theme-btn">discover</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner area end -->

  <!-- product-area start -->
  <section class="product-area box-90 pt-70 pb-40">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-5 col-lg-12">
          <div class="area-title mb-50">
            <h2>Brand New Products</h2>
            <p>Browse the huge variety of our products</p>
          </div>
        </div>
        <div class="col-xl-7 col-lg-12">
          <div class="product-tab mb-40">
            <ul
              class="nav product-nav justify-content-xl-end"
              id="myTab"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  href="#home"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  >T-Shirt</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#profile"
                  role="tab"
                  aria-controls="profile"
                  aria-selected="false"
                  >Jereceys</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="contact-tab"
                  data-toggle="tab"
                  href="#contact"
                  role="tab"
                  aria-controls="contact"
                  aria-selected="false"
                  >Hoodie</a
                >
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="product-tab-content">
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
              <div class="product-slider owl-carousel">
                <% for (let i = 0; i < products.length; i++) { %>
                  <div class="pro-item">
                    <div class="product-wrapper mb-50">
                      <div class="product-img mb-25">
                        <a href="/productDetails?id=<%= products[i]._id %>">
                          <img
                            src="/uploads/re-image/<%= products[i].productImage[0] %>"
                            alt="<%= products[i].productName %>"
                          />
                          <% if (products[i].productImage[1]) { %>
                            <img
                              class="secondary-img"
                              src="/uploads/re-image/<%= products[i].productImage[1] %>"
                              alt="<%= products[i].productName %>"
                            />
                          <% } %>
                        </a>
                       
                        <div class="sale-tag">
                          <% if (products[i].effectiveOffer > 0) { %>
                            <span class="sale"><%= products[i].effectiveOffer %>% OFF</span>
                          <% } %>
                        </div>
                      </div>
                      <div class="product-content">
                        <div class="pro-cat mb-10">
                          <a href="/productDetails?id=<%= products[i]._id %>"><%= products[i].category.name %></a>
                        </div>
                        <h4>
                          <a href="/productDetails?id=<%= products[i]._id %>"><%= products[i].productName %></a>
                        </h4>
                        <div class="product-meta">
                          <div class="pro-price">
                            <span>$<%= products[i].salePrice %></span>
                            <% if (products[i].effectiveOffer > 0) { %>
                              <span class="old-price">$<%= products[i].regularPrice %>.00</span>
                            <% } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% } %>
              </div>
              
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- product-area end -->

  <!-- features-area start -->
  <section class="features-area box-90">
    <div class="container-fluid">
      <div class="theme-soft-bg fix pt-100 pb-50">
        <div class="row">
          <div class="col-xl-12">
            <div class="area-title text-center mb-50">
              <h2>Special Features</h2>
              <p>Get special services from our shop.</p>
            </div>
          </div>
        </div>
        <div class="features">
          <div class="single-seatures width-20 mb-50 text-center">
            <i class="flaticon-shopping-cart-1"></i>
            <span>Free Delivery</span>
            <h3>Free Delivery</h3>
          </div>
          <div class="single-seatures width-20 mb-50 text-center">
            <i class="flaticon-good"></i>
            <span>100% Customer</span>
            <h3>Feedbacks</h3>
          </div>
          <div class="single-seatures width-20 mb-50 text-center">
            <i class="flaticon-return-1"></i>
            <span>10 Days</span>
            <h3>For Free Return</h3>
          </div>
          <div class="single-seatures width-20 mb-50 text-center">
            <i class="flaticon-return"></i>
            <span>Payment</span>
            <h3>Secure System</h3>
          </div>
          <div class="single-seatures width-20 mb-50 text-center">
            <i class="flaticon-customer-service"></i>
            <span>24/7</span>
            <h3>Online Supports</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- features-area end -->

  <!-- New attractive e-commerce section start -->
 
  <!-- New attractive e-commerce section end -->

  <!-- New seasonal collection section start -->
 
  <!-- New seasonal collection section end -->
</main>

<!-- <section class="instagram-area pos-relative">
  <div class="instagram-active owl-carousel">
    <div class="instagram-item">
      <img src="img/instagram/insta1.jpg" alt="" />
    </div>
    <div class="instagram-item">
      <img src="img/instagram/insta2.jpg" alt="" />
    </div>
    <div class="instagram-item">
      <img src="img/instagram/insta3.jpg" alt="" />
    </div>
    <div class="instagram-item">
      <img src="img/instagram/insta4.jpg" alt="" />
    </div>
    <div class="instagram-item">
      <img src="img/instagram/insta5.jpg" alt="" />
    </div>
    <div class="instagram-item">
      <img src="img/instagram/insta6.jpg" alt="" />
    </div>
    <div class="instagram-item">
      <img src="img/instagram/insta3.jpg" alt="" />
    </div>
  </div>
  <div class="instagram-btn">
    <a href="#" class="btn white-btn"
      ><i class="fab fa-instagram"></i> vue.store</a
    >
  </div>
</section> -->

<%-include("../../views/partials/user/footer.ejs")%>
